.Calculateur {
    position: relative;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: hidden;
    .Item {
        min-height: 400px;
        min-width: 300px;
        max-width: 100%;
        flex: 1;
        padding: .3rem;
        &:nth-child(1) {
            background-color:white;
        }
        &:nth-child(2) {
            background-color: white;
            flex: 2;
        }
        &:nth-child(3) {
            background-color:white;
        }

    }
    .h1{
        color: grey;
        margin-bottom:15px;
    }
    .p{
        background-color: rgb(225, 225, 28);
        color: rgb(187, 67, 23);
        width: fit-content;
        padding: .5rem;
        border-radius: .5rem;
        margin-bottom: 25px;
        font-weight: 600;
    }
       
    .lab{
        font-weight: bold;
        margin-bottom: 1rem;
    }
    .BasicInput{
        width: 95%;
        border-radius: 1rem;
        height: 2.5rem;
        padding: .7rem .5rem;
        margin-bottom: 1rem;
        font-size: .9rem;
        font-weight: 700;
        background-color: rgba(236, 236, 236, 0.735);
        outline: none;
        .Option{
            color: gray;
            cursor: pointer;
            font-size: .9rem;
            font-weight: 700;
            padding: 10rem 0;
        }
    }
    select{
        background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
        background-position: calc(100% - 0.75rem) center !important;
        -moz-appearance:none !important;
        -webkit-appearance: none !important; 
        appearance: none !important;
        padding-right: 2rem !important;
        cursor: pointer;
    }
    
    .YellowSection{
        background-color: rgb(225, 225, 28);
        width:95%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        margin-bottom: 3rem;
        border-radius: .3rem;
    }
    .YellowSectionParag{
        font-weight: bold;
        font-size:x-large;
        text-align: end;  
    }
    .LittlePar{
        font-size: small;
        color: grey;
        text-align: center; 
    }
    .FirstDiv{
        display: flex;
        flex-direction: column;
    }

    .StyleP{
        margin-left: 25rem;
        font-weight: bold;
        font-size: x-large;
    }
    .Left{
        margin-left: 15px;
    }
    .ButtonHide{
        background-color: rgb(230, 229, 229);
        padding: .8rem;
        margin: 1rem 0;
        border-radius: .5rem;
        cursor: pointer;
        box-shadow: 1px 1px 3px gray;
        transition: .2s linear;
        &:hover{
            background-color: rgb(162, 168, 170);
        }
    }
    .OptinLiver{
        font-weight: bold;
    }
    .H3Style{
        // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
        color: grey;
        margin-bottom: 5%;
    }
    .OrangeButton{
        width: 90%;
        height: 200px;
        font-weight: bold;
        color: white;
        background-color: $C3;
        font-size: large;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 3rem;
        border-radius: .3rem;
        cursor: pointer;
        border: none;
        
    }
    
   
    
    .LittleStyleP{
        font-size: medium;
    }

    .ValidButt{
        width: 200px;
        height: 60px;
        border: none;
        margin-left: 35%;
        font-weight: bold;
        background-color: yellow;
        margin-top: 10%;
        cursor: pointer;
        border-radius: .3rem;
    }
   
}