.Calculateur {
    position: relative;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    .Item {
        min-height: 400px;
        min-width: 300px;
        max-width: 100%;
        flex: 1;
        &:nth-child(1) {
            background-color: rgb(200, 192, 192);
        }
        &:nth-child(2) {
            background-color: white;
            flex: 2;
        }
        &:nth-child(3) {
            background-color:white;
        }
    }
    .h1{
        color: grey;
        font-family:'Courier New', Courier, monospace;
        margin-bottom:15px ;
    }
    .p{
        background-color: black;
        color: white;
        width: 32%;
        height: 18px;
        border-radius: 1rem;
        margin-bottom: 25px;

    }
       
  
    .lab{
        font-weight: bold;
        margin-bottom: 1rem;
       
    }
    .BasicInput{
        width: 95%;
        border-radius: 1rem;
        height: 2rem;
        margin-bottom: 1rem;
        
    }
    .Option{
        color: grey;
    }
    .YellowSection{
        background-color: yellow;
        width:95%;
        height: 75px;
        margin-bottom: 3rem;
    }
    .YellowSectionParag{
        font-weight: bold;
        font-size:x-large;
        float: right;
       
    }
    .LittlePar{
        font-size: small;
        color: grey;
        margin-top: 2rem;
        float: right;
        margin-right: 15px;
        
    }
    .FirstDiv{
        display: flex;
        flex-direction: column;

    }
    .HR{
        margin-bottom: 3rem;
    }
    .StyleP{
        margin-left: 25rem;
        font-weight: bold;
        font-size: x-large;
    }
    .Left{
        margin-left: 15px;
    }
    .ButtonHide{
        background-color: grey;
        color: rgb(5, 5, 5);
        width: 2%;
        height: 1%;
       
       float: right;
    }
    .OptinLiver{
        font-weight: bold;
    }
    .H3Style{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
        color: grey;
        margin-bottom: 5%;
    }
    .BlackButton{
        width: 90%;
        height: 90px;
        font-weight: bold;
        color: white;
        background-color: black;
        font-size: large;
        margin-bottom: 1rem;
    }
    .PinkButton{
        width: 90%;
        height: 90px;
        font-weight: bold;
        color: white;
        background-color: rgb(255, 0, 140);
        font-size: large;
       
        margin-bottom: 1rem;
    }
    .GreyButton{
        width: 90%;
        height: 90px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        background-color: rgb(197, 196, 196);
        font-size: large;
      
        margin-bottom: 1rem;
    }
    .YellowButton{
        width: 90%;
        height: 200px;
        font-weight: bold;
        color: rgb(0, 0, 0);
        background-color: rgb(245, 253, 15);
        font-size: large;
      
        margin-bottom: 1rem;
    }
    .BlueButton{
        width: 90%;
        height: 90px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        background-color: rgb(71, 111, 255);
        font-size: large;
      
        margin-bottom: 1rem;
    }
    .LittleStyleP{
        font-size: medium;
    }
   
}