.HomePage {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 100vw;
    width: 100%;
    overflow-x: hidden;
    .PageContent {
        position: relative;
        width: 100%;
        @import "./Imports/1.\ Hero\ Slider";
        @import "./Imports/2.\ Second\ Section";
        @import "./Imports/3.\ Third\ Section";
    }
}