.ProductsPage {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    .PageContent {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 5rem;
        overflow: hidden;
        @import "./Products Imports/1. Products List.scss";

        .ImagePlaceHolder {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ccc;

            svg {
                font-size: 3rem;
                color: #fff;
            }
        }
    }
}