.Calculateur {
    position: relative;
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-x: hidden;

    .Item {
        min-height: 400px;
        min-width: 300px;
        max-width: 100%;
        flex: 1;
        padding: .3rem;

        &:nth-child(1) {
            background-color: white;
        }

        &:nth-child(2) {
            background-color: white;
            flex: 2;
        }
    }

}